.bible-header-custom {
  display: grid;
  align-content: center;
  width: fit-content;
  padding: 4px 20px;
  position: absolute;
  top: 140px;
  left: 50px;
  background-color: #000066;
  color: #fff;
  font-size: 20px;
  border-radius: 30px;
}

.music-slide {
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

desc {
  font-size: 35px;

}

.bible_slide {
  display: grid;
  padding: 30px;
  height: 150px;
  border: 5px solid #c8981e;
  border-radius: 30px;
  color: #fff;
  text-shadow: 2px 2px black;
  background: linear-gradient(to bottom right, #000020 20%, #0066cc 100%);
  #background-image: url("https://cdn.pixabay.com/photo/2018/12/18/22/29/background-3883181_960_720.jpg");
  background-size: cover;
}

.bible_slide > span {
  display: none;
}

@keyframes fade-in {
  from {opacity: 0.0}
  to   {opacity: 1.0}
}

@keyframes fade-out {
  from {opacity: 1.0}
  to   {opacity: 0.0}
}

desc, ctt, .music_slide {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
